* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
}

header {
  position: fixed;
  top: 24.12px;
  right: 58px;
  display: flex;
}

a {
  text-decoration: none;
  margin-left: 41px;
  color: #5d5d7d;
  font-size: 28px;
  line-height: 41px;
  line-height: 100%;
}
a:nth-child(2) {
  opacity: 0.4;
}

section {
  margin: 381px 0 0 136px;
}

h1 {
  font-weight: 400;
  width: 368px;
  margin: 0 0 15px 0;
  font-size: 70px;
  line-height: 80px;
  color: #5d5d7d;
}

p {
  font-weight: 400;
  color: #5d5d7d;
  opacity: 0.6;
  width: 540px;
  height: 144px;
  font-size: 28px;
  line-height: 48px;
  line-height: 116%;
}

Button {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  line-height: 100%;
  text-align: Center;
  color: #ffffff;
  width: 269px;
  height: 62px;
  border-radius: 24px;
  border: none;
  background-color: #9499ea;
}

#background-img {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
}

#main-img {
  position: fixed;
  top: 216px;
  right: 177px;
}

@media screen and (orientation: portrait) and (max-width: 950px) {
  body {
    display: flex;
    flex-direction: column;
  }
  header {
    display: none;
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 58px auto 93px auto;
  }
  h1 {
    font-size: 36px;
    width: 268px;
    height: 104px;
    line-height: 52px;
    line-height: 97%;
  }

  p {
    width: 296px;
    height: 96px;
    font-size: 14px;
    line-height: 24px;
    line-height: 116%;
  }
  #background-img {
    position: fixed;
    top: 397px;
    width: 100%;
  }

  #main-img {
    width: 271px;
    height: 322.95px;
    position: static;
    margin: 0 auto 46.05px auto;
  }
}

@media screen and (orientation: landscape) and (max-width: 1317px) {
  section {
    margin: 10% 0 0 0;
  }
  header {
    right: 5%;
  }
  h1 {
    margin-left: 12.5%;
    font-size: 1.35rem;
    width: 25%;
    line-height: 115%;
    text-align: center;
  }

  p {
    text-align: center;
    width: 35%;
    margin-left: 7.5%;
    font-size: 1rem;
  }

button{
    margin-left:7.5%;

}

  #background-img {
    width: 50%;
  }

  #main-img {
    height: 70%;
    top: 25%;
    right: 10%;
  }
}
