* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
}

header {
  position: fixed;
  right: 58px;
  display: flex;
}

a {
  text-decoration: none;
  margin-left: 41px;
  color: #5d5d7d;
  font-size: 28px;
  line-height: 41px;
  line-height: 100%;
}
a:nth-child(2){
    opacity: 0.4;
}

section {
  margin: 381px 0 0 136px;
}

h1 {
  font-weight: 400;
  width: 368px;
  margin: 0 0 15px 0;
  font-size: 70px;
  line-height: 80px;
  color: #5d5d7d;
}

p {
  font-weight: 400;
  color: #5d5d7d;
  opacity: 0.6;
  width: 540px;
  height: 144px;
  font-size: 28px;
  line-height: 48px;
  line-height: 116%;
}

Button {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  line-height: 100%;
  text-align: Center;
  color: #ffffff;
  width: 269px;
  height: 62px;
  border-radius: 24px;
  border: none;
  background-color: #9499ea;
}

#background-img {
    position: fixed;
    right: 0;
    top:0;
    height: 100vh;
}

#main-img{
    position: fixed;
    height: 561px;
    width: auto;
    top:216px;
    right:177px;
}